@font-face {
  font-family: ElegantIcons;
  src: local(ElegantIcons), url(/src/fonts/ElegantIcons.eot) format("eot"),
    url(/src/fonts/ElegantIcons.ttf) format("truetype"),
    url(/src/fonts/ElegantIcons.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: AvenirNextDemiBold;
  src: local(AvenirNext-DemiBold),
    url(/src/fonts/AvenirNext-DemiBold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

body {
  font-family: "Raleway", sans-serif;
}
h1 {
  font-size: 3rem;
  line-height: 1;
}
h2 {
  font-size: 1.625rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 0.875rem;
}
h5 {
  font-size: 0.75rem;
}
p {
  font-size: 0.875rem;
}
button {
  font-size: 0.625rem;
}
h1,
h2,
h4,
button {
  text-transform: uppercase;
  font-weight: 800;
}

.Text-Style-5 {
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.77;
  letter-spacing: normal;
  text-align: center;
  color: hsl(var(--clr-black));
}

.Text-Style-3 {
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.77;
  letter-spacing: normal;
  text-align: center;
  color: hsl(var(--clr-green-blue));
}

.Text-Style {
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: hsl(var(--clr-green-blue));
}

.Text-Style-6 {
  font-family: AvenirNextDemiBold;
  font-weight: 400;
  font-style: italic;
  color: hsl(var(--clr-green-blue));
}

.text-body {
  color: hsl(var(--clr-grey-1)) !important;
}
.text-dark {
  color: hsl(var(--clr-dark-grey)) !important;
}
.text-light {
  color: hsl(var(--clr-light-grey)) !important;
}
.text-grey {
  color: hsl(var(--clr-grey-2));
}
.text-white {
  color: hsl(var(--clr-white));
}
.text-black {
  color: hsl(var(--clr-black));
}
.text-green-blue {
  color: hsl(var(--clr-green-blue));
}

.graph__percentage {
  font-weight: 800;
  font-size: 1.875rem;
}
.graph__percentage span {
  font-weight: 400;
  font-size: 1rem;
}
